<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institute Inquiry Form</title>
    
    <!-- <link rel="stylesheet" href="{%static 'css/style.css'%}"> -->
     <link rel="stylesheet" href = "{% static 'css/design.css' %}" />
</head>
<body>
    <div class="form-container">
        <h1>Institute Inquiry Form</h1>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your full name" required>
            
            <label for="contact">Contact Number:</label>
            <input type="text" id="contact" name="contact" placeholder="Enter your contact number" required>
            
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email address" required>
            
            <label for="course">Select Course:</label>
            <select id="course" name="course" required>
                <option value="">--Choose a course--</option>
                <option value="it">Information Technology</option>
                <option value="cs">Computer Science</option>
                <option value="data">Data Science</option>
                <option value="ai">Artificial Intelligence</option>
            </select>
            
            <button type="submit">Submit</button>
        </form>

        <h1>{{success}}</h1>
    </div>

   <div class="mainbtn">
    <a class="recordbtn" href="record">record</a>
   </div>
</body>
</html>
